<h1>
	<span class="fa fa-key fa-fw"></span>
	Rechte
</h1>

<ul>
	<li>Rechtesystem über “Features” und PHP-RBAC</li>
</ul>

<h2>
	Welche Rechte müssen wir typischerweise steuern?
</h2>

<strong>Seiten (allg. und pro Seite einstellbar)</strong><br />
anlegen / löschen<br />
bearbeiten<br />
ansehen<br /><br />

<strong>Veröffentlichen</strong><br /><br />

<strong>Listeneinträge (allg. + pro Liste)</strong><br />
erstellen / löschen<br />
bearbeiten<br />
ansehen<br /><br />

<strong>Konstanten</strong><br />
bearbeiten<br />
ansehen<br /><br />

<strong>
	Rechte<br />
	Gruppen<br />
	User<br />
</strong>
