<h1>
	<span class="fa fa-home fa-fw"></span>
	Willkommen
</h1>

<div class="message">
	Es wurden neue Versionen des SFS7-CMS veröffentlicht.<br /><br />

	Aktuelle Version: 2.0.1<br />
	<strong>2.1.0:</strong> New Features and security fixes<br />
	<strong>2.0.2:</strong> Security fixes<br />
</div>

Letzte Logins, letzte bearbeiteten Seiten/Elemente, letztes Backup-Datum (Support-Vertrag-fördernd)

<h1>
	<span class="fa fa-file fa-fw"></span>
	Impressum
</h1>

<nav id="item" class="box box-left box-top">
	<a href="" class="button is-active">
		<span class="fa fa-eye fa-fw"></span>
		Inhalte
	</a>
	<a href="" class="button">
		<span class="fa fa-arrows fa-fw"></span>
		Verschieben
	</a>
	<a href="" class="button">
		<span class="fa fa-trash fa-fw"></span>
		Löschen
	</a>
	<a href="" class="button">
		<span class="fa fa-plus fa-fw"></span>
		Unterseite hinzufügen
	</a>
</nav>

<div class="box box-left">
	<a href="" class="button">
		<span class="fa fa-eye fa-fw"></span>
		Content-Bereich
	</a>
	<a href="" class="button">
		<span class="fa fa-eye fa-fw"></span>
		Sidebar
	</a>
</div>

<div class="message message-error message-form">
	<span class="fa fa-info-circle"></span>
	Bitte korrigiere die rot markierten Felder.
</div>

<form action="" method="post">
	<div class="form-row">
		<div class="form-label">
			<label>Titel</label>
			<span class="fa fa-asterisk"></span>
		</div>
		<div class="form-field">
			<input type="text" class="required js-slug-source" />
		</div>
	</div>

	<div class="form-row">
		<div class="form-label form-error">
			<label>URL-Segment</label>
			<span class="fa fa-asterisk"></span>
			<div class="form-info">
				<span class="fa fa-info-circle"></span>
				Bitte blabla beachten.
			</div>
			<div class="form-error-info">
				<span class="fa fa-exclamation-circle"></span>
				Bitte blabla beachten.
			</div>
		</div>
		<div class="form-field">
			<div class="form-extension">
				<div class="form-extension-prefix">http://ministry.de/</div>
				<div><input type="text" class="js-slug-target" /></div>
				<div class="form-extension-suffix">$</div>
			</div>
			
		</div>
	</div>

	<div class="form-row">
		<div class="form-label">
			<label>Versteckt</label>
			<span class="fa fa-asterisk"></span>
		</div>
		<div class="form-field">
			<label><input type="radio" /> Ja</label>
			<label><input type="radio" /> Nein</label>
		</div>
	</div>

	<div class="form-row">
		<div class="form-label">
			<label>Öffentlich</label>
			<span class="fa fa-asterisk"></span>
		</div>
		<div class="form-field">
			<label><input type="radio" /> Ja</label>
			<label><input type="radio" /> Nein</label>
		</div>
	</div>

	<div class="form-row">
		<div class="form-label">
			<label>Position</label>
			<span class="fa fa-asterisk"></span>
		</div>
		<div class="form-field">
			<select>
				<option>hinter Supporter</option>
			</select>
		</div>
	</div>
</form>

<h2>Inhalte</h2>

<div class="form-row">
	<div class="form-label">
		<label>Seitenvorlage</label>
	</div>
	<div class="form-field">
		Standard
	</div>
</div>

<div class="form-row">
	<div class="form-label">
		<label>Input-Feld</label>
		<span class="fa fa-asterisk"></span>
	</div>
	<div class="form-field">
		<input type="text" class="required" />
	</div>
</div>

<div class="form-row">
	<div class="form-label">
		<label>Input-Feld</label>
	</div>
	<div class="form-field">
		<textarea></textarea>
	</div>
</div>

<div class="box box-bottom box-right">
	<a href="" class="button button-strong">
		<span class="fa fa-check-circle fa-fw"></span>
		Speichern
	</a>
</div>

<h1>
	<span class="fa fa-list fa-fw"></span>
	Liste
</h1>

<nav id="item" class="box box-left box-top">
	<a href="" class="button is-active">
		<span class="fa fa-eye fa-fw"></span>
		Inhalte
	</a>
	<a href="" class="button">
		<span class="fa fa-plus fa-fw"></span>
		Eintrag hinzufügen
	</a>
	<a href="" class="button">
		<span class="fa fa-search fa-fw"></span>
		Suchen
	</a>
	<a href="" class="button">
		<span class="fa fa-download fa-fw"></span>
		Exportieren
	</a>
</nav>

<div class="box box-left">
	<h2>512 Einträge</h2>
	<a href="" class="button">
		<span class="fa fa-chevron-left fa-fw"></span>
		Vorherige
	</a>
	<a href="" class="button">1</a>
	<a href="" class="button">2</a>
	<a href="" class="button is-active">3</a>
	<a href="" class="button">4</a>
	<p class="button">...</p>
	<a href="" class="button">217</a>
	<a href="" class="button">
		Weitere
		<span class="fa fa-chevron-right fa-fw"></span>
	</a>
</div>

<table>
	<colgroup>
		<col width="1" />
		<col />
		<col />
	</colgroup>
	<thead>
		<tr>			
			<th></th>
			<th>Name</th>
			<th>E-Mail</th>
		</tr>
	</thead>
	<tbody>
		<tr>			
			<td>
				<a href="" class="button button-small">
					<span class="fa fa-pencil fa-fw"></span>
					Editieren
				</a>
			</td>
			<td>Christoph Erdmann</td>
			<td>christoph.erdmann@ministrygroup.de</td>
		</tr>
		<tr>			
			<td>
				<a href="" class="button button-small">
					<span class="fa fa-pencil fa-fw"></span>
					Editieren
				</a>
			</td>
			<td>David Cummins</td>
			<td>david.cummins@ministrygroup.de</td>
		</tr>
		<tr>			
			<td>
				<a href="" class="button button-small">
					<span class="fa fa-pencil fa-fw"></span>
					Editieren
				</a>
			</td>
			<td>Christoph Erdmann</td>
			<td>christoph.erdmann@ministrygroup.de</td>
		</tr>
	</tbody>
</table>

<h1>
	<span class="fa fa-cloud-upload fa-fw"></span>
	Veröffentlichen
</h1>

<div class="box box-left">
	<a href="" class="button button-strong">
		<span class="fa fa-cloud-upload fa-fw"></span>
		Alle Änderungen veröffentlichen
	</a>
	<a href="" class="button">
		<span class="fa fa-undo fa-fw"></span>
		Alle Änderungen auf Live-Stand zurücksetzen
	</a>
</div>

<h2>Es gibt Änderungen von 2 Personen</h2>

<div class="box box-left">
	<div class="card">
		<img src="//lorempixel.com/100/100/people/" alt="" />
		David Cummins
	</div>

	<div class="card">
		<img src="//lorempixel.com/100/100/people/" alt="" />
		Christoph Erdmann
	</div>
</div>

<table>
	<colgroup>
		<col />
		<col width="1" />
	</colgroup>
	<thead>
		<tr>			
			<th>Unterschied zu Live-Stand</th>
			<th class="narrow-width">Beteiligt</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<span class="fa fa-file-text fa-fw"></span>
				Impressum

				<span class="fa fa-chevron-right fa-fw"></span>
				Sidebar

				<span class="fa fa-chevron-right fa-fw"></span>
				Hotline

				<span class="fa fa-chevron-right fa-fw"></span>
				<a href="" class="button button-small">
					Copy
				</a>
				<br />
				<a href="" class="button button-small">
					<span class="fa fa-chevron-right fa-fw"></span>
					Änderungen zeigen
				</a>
				<div class="box box-strong">
					Hotline<br />
					========<br />
					<br />
					Rufen Sie uns <ins>einfach</ins> an unter:<br />
					+49 40 - 27 15 15 <del>39</del><ins>0</ins>
				</div>
			</td>
			<td>
				<div class="card">
					<img src="//lorempixel.com/100/100/people/" alt="" />
					David Cummins
				</div>
				<div class="card">
					<img src="//lorempixel.com/100/100/people/" alt="" />
					Christoph Erdmann
				</div>
			</td>
		</tr>
	</tbody>
</table>
