<h1>
	<span class="fa fa-key fa-fw"></span>
	Login
</h1>

<form action="" method="post">
	<div class="form-row">
		<div class="form-label">
			<label for="form_email">E-Mail-Adresse</label>
			<span class="fa fa-asterisk"></span>
		</div>
		<div class="form-field">
			<input type="text" name="email" id="form_email" class="required" />
		</div>
	</div>

	<div class="form-row">
		<div class="form-label">
			<label for="form_password">Passwort</label>
			<span class="fa fa-asterisk"></span>
		</div>
		<div class="form-field">
			<input type="text" name="password" id="form_password" class="required" />
		</div>
	</div>
</form>

<div class="box box-bottom box-right">
	<a href="" class="button button-strong">
		<span class="fa fa-check-circle fa-fw"></span>
		Anmelden
	</a>
</div>


<div id="alternative-logins" class="box box-left">
</div>
