<div class="navi">
	<a href="" class="navi-item">
		<span class="fa fa-home fa-fw"></span>
		Willkommen
	</a>

	<!--
	<a href="" class="navi-item">
		<span class="fa fa-sitemap fa-fw"></span>
		Seiten
	</a>
	<a href="" class="navi-item">
		<span class="fa fa-list fa-fw"></span>
		Listen
	</a>
	<a href="" class="navi-item">
		<span class="fa fa-file fa-fw"></span>
		Dateien
	</a>
	-->
	<div class="navi-item navi-item-headline navi-item-small">
		Veröffentlichen
	</div>
	<a href="" class="navi-item">
		<span class="fa fa-cloud-upload fa-fw"></span>
		Veröffentlichen
		<span class="badge">3</span>
	</a>
	<a href="" class="navi-item">
		<span class="fa fa-eye fa-fw"></span>
		Live-Ansicht
	</a>
	<a href="" class="navi-item">
		<span class="fa fa-eye fa-fw"></span>
		Vorschau
	</a>

	<div class="navi-item navi-item-headline navi-item-small">
		Inhalte
	</div>
	<div class="navi-item border-top">
		<form action="" method="post">
			<div class="form-field form-field-autowidth form-field-dark">
				<select class="full-width">
					<option>Englisch</option>
					<option>Deutsch</option>
				</select>
			</div>
		</form>
	</div>
	<a href="" class="navi-item is-active">
		<span class="fa fa-sitemap fa-fw"></span>
		Haupt-Navigation
	</a>
	<a href="" class="navi-item">
		<span class="fa fa-sitemap fa-fw"></span>
		Meta-Navigation
	</a>
	<a href="" class="navi-item">
		<span class="fa fa-list fa-fw"></span>
		Autoren
	</a>
	<a href="" class="navi-item">
		<span class="fa fa-list fa-fw"></span>
		Bücher
	</a>
	<a href="" class="navi-item">
		<span class="fa fa-folder fa-fw"></span>
		Autoren
	</a>
	<a href="" class="navi-item">
		<span class="fa fa-folder fa-fw"></span>
		Buchcover
	</a>
	<a href="" class="navi-item">
		<span class="fa fa-legal fa-fw"></span>
		Allgemein
	</a>
	<a href="" class="navi-item">
		<span class="fa fa-send fa-fw"></span>
		Newsletter
	</a>
</div>
