<div class="navi-tree">
	<a href=""><span class="fa fa-file-text fa-fw"></span> Startseite</a>
	<a href=""><span class="fa fa-share fa-fw"></span> Classes</a>
	<a href="" class="hidden"><span class="fa fa-file-text fa-fw"></span> Inspirer <span class="fa fa-eye-slash fa-fw"></span></a>
	<a href="" class="disabled"><span class="fa fa-file-text fa-fw"></span> Supporter <span class="fa fa-plus-circle fa-fw js-toggle js-open"></span><span class="fa fa-ban fa-fw"></span></a>
			
	<div class="navi-tree">
		<a href=""><span class="fa fa-file-text fa-fw"></span> Support</a>
		<a href=""><span class="fa fa-file-text fa-fw"></span> Shop <span class="fa fa-plus-circle fa-fw js-toggle"></span></a>

		<div class="navi-tree">
			<a href=""><span class="fa fa-file-text fa-fw"></span> Hamburg</a>
			<a href=""><span class="fa fa-file-text fa-fw"></span> Externer Shop München</a>
		</div>

	</div>

	<a href="" class="is-active"><span class="fa fa-file-text fa-fw"></span> Impressum</a>
</div>

<h3>
	Aktionen
</h3>
<a href="">
	<span class="fa fa-plus fa-fw"></span>
	Seite hinzufügen
</a>
