<h1>
	<span class="fa fa-puzzle-piece fa-fw"></span>
	API
</h1>


<h2>Struktur von Features, die Formulare darstellen</h2>

<h3>Pre_RegisterApi.php</h3>

<p>
	Registriert die Funktionalität dieses Features in der API, damit sie von anderen Featuren aufgerufen werden kann.
	Das ginge auch über Events, aber nur die API-Funktionalitäten werden auch nach außen veräußert.
</p>

<pre>
Factory::load('\Api')->register('authentication/add-user', [
    'description'   => 'Allows to add a user.',
    'parameters'    => [],
    'callback'      => array('\\app\\features\\Authentication_AddUser\\models\\Api', 'run'),
]);
</pre>

<p>
	Es können auch weitere Formulardefinitionen hinzugefügt werden, weil diese eh per Events gerendert werden.
</p>

<pre>
Factory::load('Event')->on('form.email.handle',
    array('\\app\\features\\YourFeature\\Pre_FormElements', 'textarea')
);
</pre>

<h3>Page.php</h3>

<p>
	Legt nur die Feld-Definitionen fest und übergibt diese an Event:form.handle inkl. dem API-Pfad, dem die Daten bei validem Formular übergeben werden soll.
	Das generierte Formular-HTML wird an das Template übergeben.
</p>

<pre>
$form_html = Factory::load('Event')->trigger('form.handle', array(
	'authentication/add-user',
	$form_definitions
));
</pre>




~foreach ($toc as $path => $data):~
	<h2>
		<small>/api/</small> ~~htmlspecialchars($path)~
	</h2>

	<p>
		~~:escape($data.description)~
	</p>

	<h3>
		Parameters
	</h3>

	<table>
	<colgroup>
		<col style="width: 20%;" />
		<col />
	</colgroup>
	<tbody>
		~foreach ($data.parameters as $parameter => $description):~
			<tr>
				<td><code>~~$parameter~</code></td>
				<td>~~:escape($description)~</td>
			</tr>
		~endforeach~
	</tbody>
	</table>
~endforeach~

<p>
	Gezeigt werden alle Schnittstellen, für die der derzeitig eingeloggte User Rechte hat.
</p>

<p>
	Es gibt keinen API-Key. Jeder User kann theoretisch mit seinem User auf die API zugreifen und kann das mit der API machen, was seinen Rechten entspricht.
	Somit kann man auch die Daten schützen, weil man mit einem eigens eingerichteten Frontend-Api-User nicht alles kann.
</p>

<ul>
	<li>Die API wird auch intern zum Anlegen von Datensätzen verwendet.</li>
	<li>JSON-REST-API</li>
	<li>Enveloped answer</li>
	<li>Version number in URL</li>
	<li>Etag-Caching: Ist es möglich, sich auch das Generieren der Inhalte zu sparen?</li>
	<li>Verknüpfte Objekte können dank API direkt als Unterarray zurückgegeben werden, z.B. Autoren bei Büchern</li>
</ul>
