<h1>
	<span class="fa fa-puzzle-piece fa-fw"></span>
	API
</h1>

<ul>
	<li>Anzeige des API-Keys</li>
	<li>Die API wird auch intern zum Anlegen von Datensätzen verwendet. Somit kann man auch von außen Daten pflegen</li>
	<li>JSON/XML-REST-API (XML notwendig?)</li>
	<li>Enveloped answer</li>
	<li>Version number in URL</li>
	<li>Etag-Caching: Ist es möglich, sich auch das Generieren der Inhalte zu sparen?</li>
	<li>Verknüpfte Objekte können dank API direkt als Unterarray zurückgegeben werden, z.B. Autoren bei Büchern</li>
</ul>