<h1>
	<span class="fa fa-user fa-fw"></span>
	Benutzer editieren
</h1>

<nav id="content-nav" class="box box-left box-top">
	<a href="" class="button is-active">
		<span class="fa fa-eye fa-fw"></span>
		Inhalte
	</a>
</nav>

<form action="" method="post">
	<div class="form-row">
		<div class="form-label">
			<label>Aktiv</label>
			<span class="fa fa-asterisk"></span>
		</div>
		<div class="form-field">
			<label><input type="radio" /> Ja</label>
			<label><input type="radio" /> Nein</label>
		</div>
	</div>

	<div class="form-row">
		<div class="form-label">
			<label>Vorname</label>
			<span class="fa fa-asterisk"></span>
		</div>
		<div class="form-field">
			<input type="text" />
		</div>
	</div>

	<div class="form-row">
		<div class="form-label">
			<label>Nachname</label>
			<span class="fa fa-asterisk"></span>
		</div>
		<div class="form-field">
			<input type="text" />
		</div>
	</div>

	<div class="form-row">
		<div class="form-label">
			<label>E-Mail-Adresse</label>
			<span class="fa fa-asterisk"></span>
		</div>
		<div class="form-field">
			<input type="text" />
		</div>
	</div>

	<div class="form-row">
		<div class="form-label">
			<label>Password</label>
		</div>
		<div class="form-field">
			**********
		</div>
	</div>
</form>
