<h1>
	<span class="fa fa-key fa-fw"></span>
	Login
</h1>

<form action="" method="post">
	<div class="form-row">
		<div class="form-label">
			<label>E-Mail-Adresse</label>
			<span class="fa fa-asterisk"></span>
		</div>
		<div class="form-field">
			<input type="text" class="required" />
		</div>
	</div>

	<div class="form-row">
		<div class="form-label">
			<label>Passwort</label>
			<span class="fa fa-asterisk"></span>
		</div>
		<div class="form-field">
			<input type="text" class="required" />
		</div>
	</div>
</form>

<div class="box box-bottom box-right">
	<a href="" class="button button-strong">
		<span class="fa fa-check-circle fa-fw"></span>
		Anmelden
	</a>
</div>


<p>
	<a href="" class="button" style="background: #df4a32; color: #fff; border: 1px solid #df4a32;">
		<span class="fa fa-google fa-fw"></span>
		Anmelden mit Google-Konto
	</a>
</p>

<p>
	<a href="" class="button" style="background: #3b5998; color: #fff; border: 1px solid #3b5998;">
		<span class="fa fa-facebook fa-fw"></span>
		Anmelden mit Facebook-Konto
	</a>
</p>

<p>
	<a href="" class="button" style="background: #5ea9dd; color: #fff; border: 1px solid #5ea9dd;">
		<span class="fa fa-twitter fa-fw"></span>
		Anmelden mit Twitter-Konto
	</a>
</p>
