<h1>
	<span class="fa fa-user fa-fw"></span>
	Benutzer
</h1>

<ul>
	<li>Können Benutzer mehr als einer Gruppe zugeordnet werden?</li>
</ul>

<table>
	<thead>
		<td></td>
		<td></td>
		<td>Name</td>
		<td>E-Mail-Adresse</td>
		<td>Erstellt</td>
		<td>Letzter Login</td>
	</thead>
	<tbody>
		~foreach ($users as $user):~
			<tr>
				<td>
					<a href="" class="button button-small">
						<span class="fa fa-pencil fa-fw"></span>
						Editieren
					</a>
				</td>
				<td><img src="//lorempixel.com/40/40/people/" alt="" /></td>
				<td>
					~~:escape($user.firstname)~<br />
					~~:escape($user.lastname)~
				</td>
				<td>~~:escape($user.email)~</td>
				<td style="white-space: nowrap;">
					~~date('Y-m-d', $user.created_at->sec)~<br />
					<small>~~date('H:i:s', $user.created_at->sec)~</small>
				</td>
				<td>
					~~date('Y-m-d', $user.created_at->sec)~<br />
					<small>~~date('H:i:s', $user.created_at->sec)~</small>
				</td>
			</tr>
		~endforeach~
	</tbody>
</table>
